* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0;
  background: linear-gradient(
    90deg,
    rgba(22, 193, 195, 1) 0%,
    rgba(185, 4, 101, 1) 100%
  ); */
}

.page-wrapper {
  background-color: rgb(119, 148, 148);
  height: 100vh;
}

.square {
  width: 200px;
  height: 200px;
  background-color: bisque;
  transition: 1s;
  cursor: pointer;
}

.square:hover {
  background-color: rgb(221, 194, 161);
  scale: 1.1;
}

button {
  all: unset;
  margin: 1rem;
  padding: 0.3rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid grey;
  border-radius: 0.3rem;
}

button:hover {
  background-color: rgb(235, 235, 235);
}

button:active {
  background-color: rgb(235, 235, 235);
  color: rgb(136, 136, 219);
  scale: 1.05;
}

a:visited {
  color: red;
}

a:focus {
  outline: none;
  color: blue;
}

p::first-line {
  font-weight: 900;
}

p::first-letter {
  font-size: 2rem;
}

.new-class {
  height: 100px;
}
